
{% extends "base.html" %}

{% block title %}Purchases{% endblock %}

{% block content %}
<center><h1>Affär</h1></center>
<br>



<div class="row" >

{% for item in item %}

    <div class="col-2">
        <div class="shadow p-3 mb-5 bg-white rounded">

{% if item.photo.url is not None %}

            <img class="card-img-top" style="width: 180px" height="230px"; src="{{item.photo.url}}" alt="">

{% else %}

             <img class="card-img-top" src='webshop/default.jpg'>

{% endif %}

            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.cost}}kr</p>
                <a href="#" class="btn btn-primary">Lägg till</a>
            </div>
    </div>
  </div>

{% endfor %}

</div>
		
		
	
	

{% endblock %}