{% extends "base.html" %}

{% block title %}Purchased{% endblock %}

{% block content %}
<center>Gjorda köp</h1></center>
<br>

<br>
<form method="post">
<table>
{{ form }}
</table>
{% csrf_token %}
<button type="submit">KÖP</button>
</form>
</br>

{% for purchase in purchases %}

        
        {{purchase.persons.name}}
        <br>
        {{purchase.items}}
        <br>
        Antal köpt {{purchase.number}} st
        <br>
        Köpt {{purchase.buydate}}
        <br>
        <br>


{% endfor %}

	

{% endblock %}