{% load static %}
<!DOCTYPE html>


<html lang="en">

<head>
<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


	
	<title>{% block title %}{% endblock %}</title>
	
</head>

<body>

	<nav class = "navbar navbar-expand-lg navbar-static-top navbar-dark bg-dark">
		
			<ul class="navbar-nav">
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
				
				<li class="nav-item"><a class="navbar-brand" href="{% url 'items' %}">Produkter</a></li>
				<li class="nav-item"><a class="navbar-brand" href="{% url 'purchased' %}">Kalender</a></li>
				
			</ul>
		</div>
	</nav>
	


{% block content %}



{% endblock %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
</body>

</html>